label.logo{
    color:lightslategrey;
    font-size: 35px;
    line-height:80px;
    padding:0 10px 0 20px;
    font-weight: bold;
    background: #99e2ff;
}
.navbar-bg{
    background: #99e2ff;
}

.btn-1{
    margin-top: 200px;
    margin-bottom: 10px;
}
.btn-2{
    margin: top 50px;
    margin-bottom: auto;
}