* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	overflow: hidden;
}

.page {
	height: 100%;
	background-color:grey;
	min-height: 100vh;
	background-image: url('img/dream.jpg');
	background-size: cover;
	/* background-position: center; */
}

.content {
	height: 200%;
	transform-origin: top left;
	transition: transform 0.7s cubic-bezier(1, 0.005, 0.24, 1);
	background-color: #f0f0f0;
}

.content_inner {
	height: 50%;
	overflow-y: auto;
	padding: 50px 20%;
}

/* basically all styling from now on */
.menu_toggle {
	z-index: 900;
	position: fixed;
	top: 0;
	left: 0;
	display: block;
	cursor: pointer;
	width: 100px;
	height: 80px;
	color:goldenrod;
	
	
	background-color:gold;
	border-bottom-right-radius: 100%;
}

.menu_toggle:active i {
	opacity: 0.8;
}

.menu_toggle i {
	color:goldenrod;
}

.menu_toggle .menu_open,
  .menu_toggle .menu_close {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -15px;
	margin-left: -12px;
	transition: transform 0.7s cubic-bezier(1, 0.005, 0.24, 1);
}

.menu_toggle .menu_open {
	transform-origin: -100px -100px;
}

.menu_toggle .menu_close {
	transform: rotate(20deg);
	transform-origin: -100px -160px;
}

.menu_items {
	position: fixed;
	bottom: 0;
	left: 50px;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.menu_items li {
	height: 60px;
	margin-bottom: 30px;
	transform: translateX(-300px);
	transition: transform 0.7s 0s cubic-bezier(1, 0.005, 0.24, 1);
}

.menu_items li:nth-child(2) {
	margin-left: 40px;
}

.menu_items li:nth-child(3) {
	margin-left: 80px;
}

.menu_items a {
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing:4px;
	color:deepskyblue;
	transition: color 0.2s;
}

.menu_items a .icon {
	position: relative;
	display: inline-block;
	margin-right: 25px;
	color:bisque;
}

.menu_items a .icon:after {
	position: absolute;
	top: 50%;
	left: 50%;
	content: "";
	display: block;
	width: 60px;
	height: 60px;
	margin-left: -33px;
	margin-top: -32px;
	border-radius: 100%;
	border: 2px solid darkorange;
	transition: border-color 0.2s;
}

.menu_items a:hover {
	color:grey ;
}

.menu_items a:hover .icon:after {
	border-color: ;
}

.menu_items a:active .icon {
	color: black;
}

/* Let's open up the menu */
.shazam .content_inner {
    height: 100%;
   }
  .shazam .content {
    transform: rotate(-30deg); }
  .shazam .menu_open {
    transform: rotate(-20deg); }
  .shazam .menu_close {
    transform: rotate(0); }
  .shazam .menu_items li {
    transform: translateX(0);
    transition: transform 0.35s 0.45s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
    .shazam .menu_items li:nth-child(2) {
      transition-delay: 0.47s; }
    .shazam .menu_items li:nth-child(3) {
      transition-delay: 0.48s; }
/* 
h1 {
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
 } */


 .slideshow {
	overflow: hidden;
	height: 500px;
	width: 728px;
	margin: 0 auto;
	}
	.slide-wrapper {
	width: 3000px;
	animation: slide 18s infinite;
	}
	/* https://images.unsplash.com/photo-1629904853716-f0bc54eea481?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80; */
	.image-container{
	margin-top: 50px;
	float: left;
	height: 500px;
	width: 728px;
	}
	.image-container:nth-child(1) {
	background-image: url("https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80;
	}
	.image-container:nth-child(2) {
	background-image: url("https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80 ;
	}
	.image-container:nth-child(3) {
	background-image: url(" https://images.unsplash.com/photo-1527689368864-3a821dbccc34?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80;
	}
	.image-container:nth-child(4) {
	background-image: url("https://images.unsplash.com/photo-1499750310107-5fef28a66643?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
	}
	@keyframes slide {
	20% {margin-left: 0px;}
	30% {margin-left: -728px;}
	50% {margin-left: -728px;}
	60% {margin-left: -1456px;}
	70% {margin-left: -1456px;}
	80% {margin-left: -2184px;}
	90% {margin-left: -2184px;}
	}
